// Import page-specific CSS files here.
@import "home";

.cards {
  max-width: 1300px;
  width: 80%;
  height: auto;
  margin: 20px auto;
  border: 1px solid #333;
  display: flex;
  flex-wrap: wrap;

}

.cards > .card-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px
}

.name {

}
