// Import page-specific CSS files here.
@import "home";

.btn {
  // background-color: blue;
}

.cards {
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
 align-content: start;

}

.card-trip {
  margin-bottom: 20px;
  border-radius: 6px;
}

.card-trip-infos {
  display: flex;
  justify-content: center;
}
