<div class="container">
  <div class="top mt-5">
    <br>
    <div class="title">
      <h1 class="mt-5 text-uppercase">Portfolio</h1>
    </div>
    <div class="button d-flex justify-content-end">
      <button class="btn btn-primary">
        <%= link_to "Create new manga", new_dessin_path(@new_dessin), class:"text-decoration-none text-white" %>
      </button>
    </div>
  </div>
<br>
  <div class="cards">
      <% @dessins.each do |dessin| %>
        <%= link_to dessin_path(dessin) do %>
       <div class="card-trip">
          <%= cl_image_tag(dessin.image.key, width:"350px", height:"350px") %>
        <div class="card-trip-infos">
          <div>
            <%= link_to dessin.name, dessin_path(dessin), class: "text-decoration-none" %>
          </div>
        </div>
       </div>
       <% end %>
      <% end %>
  </div>
</div>
