<div class="container">
  <div class="top mt-5">
    <br>
    <div class="title">
      <h1 class="mt-5 text-uppercase">Portfolio</h1>
    </div>
    <div class="button d-flex justify-content-end">
        <% if user_signed_in? %>
          <button class="btn btn-primary">
            <%= link_to "Create new manga", new_dessin_path(@new_dessin), class:"text-decoration-none text-white" %>
          </button>
        <% end %>
    </div>
  </div>
  <br>
</div>
  <div class="cards">
    <div class="card-info">
      <% @dessins.each do |dessin| %>
        <%= link_to dessin_path(dessin) do %>
          <%= cl_image_tag(dessin.image.key, width:"350px", height:"350px") %>
          <%# <h2 class="name"><%= link_to dessin.name, dessin_path(dessin), class: "text-decoration-none" %></h2>
        <% end %>
      <% end %>
    </div>
  </div>
